spinadent/public/xsd/generalCreditRequest_430.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  ==========================================================================

	This is the schema definition for a "General Credit Request" process encoded
	in XML. The content is a credit request generated by a health care provider. 
	The request is sent via 1 or more intermediates to the final recipient. It is 
	the intermediate's responsibility to route the request to another intermediate
	until it can be delivered to the final recipient.

	This is normative for the electronic credit project XMLCredit.

	Permission to use, and distribute this schema and its accompanying
	documentation for any purpose and without fee is hereby granted in perpetuity,
	provided that the above copyright notice and this paragraph appear in all copies
	and this schema file is not altered.
	The copyright holders make no representation about the suitability of the schema
	for any purpose.

	It is provided "as is" without expressed or implied warranty.

	Copyright (c) 2011 Forum Datenaustausch, 
 	All Rights Reserved.
  ==========================================================================  -->
<schema targetNamespace="http://www.forum-datenaustausch.ch/credit" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:xenc="http://www.w3.org/2001/04/xmlenc#"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	xmlns:credit="http://www.forum-datenaustausch.ch/credit" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">

<!-- =======================================================================
	import for encryption and signature schema definitions as local files
	in fact MSXML4.0 has a problem with network loaded schema definitions
	and there is a significant time impact of always loading these schemas 
	from W3C.
	
	W3C locations:
	   	http://www.w3c.org/TR/xmlenc-core/xenc-schema.xsd
  		http://www.w3c.org/TR/xmldsig-core/xmldsig-core-schema.xsd
 ======================================================================= -->
   <import namespace="http://www.w3.org/2000/09/xmldsig#" 
   		   schemaLocation="xmldsig-core-schema.xsd"/>
   <import namespace="http://www.w3.org/2001/04/xmlenc#" 
   		   schemaLocation="xenc-schema.xsd"/>

<!-- =======================================================================
	General data type definitions
 ======================================================================= -->
	<simpleType name="nonEmptyStringType">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_3">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="3"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_6">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="6"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_9">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="9"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_12">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="12"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_25">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="25"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_30">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="30"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_35">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="35"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_50">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="50"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_70">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="70"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_100">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="100"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_350">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="350"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType0_350">
		<restriction base="string">
			<maxLength value="350"/>
		</restriction>
	</simpleType>

	<simpleType name="stringType1_700">
		<restriction base="string">
			<minLength value="1"/>
			<maxLength value="700"/>
		</restriction>
	</simpleType>

	<!--  EAN, ZSR, NIF and SSN numbers -->
	<simpleType name="eanPartyType">
		<restriction base="string">
			<pattern value="([0-9]{13})"/>
		</restriction>
	</simpleType>
	<simpleType name="zsrPartyType">
		<restriction base="string">
			<pattern value="([A-Z][0-9]{6})"/>
		</restriction>
	</simpleType>
	<simpleType name="nifPartyType">
		<restriction base="string">
			<pattern value="[0-9]{1,7}"/>
		</restriction>
	</simpleType>
	<simpleType name="ssnPartyType">
		<restriction base="string">
			<pattern value="[0-9]{4,10}|[1-9][0-9]{10}|756[0-9]{10}"/>
		</restriction>
	</simpleType>

<!-- =======================================================================
	address definitions for persons and companies
 ======================================================================= -->
	<complexType name="companyType">
		<sequence>
			<element name="companyname" type="credit:stringType1_35"/>
			<element name="department" type="credit:stringType1_35" minOccurs="0"/>
			<element name="subaddressing" type="credit:stringType1_35" minOccurs="0"/>
			<element name="postal" type="credit:postalAddressType"/>
			<element name="telecom" type="credit:telecomAddressType" minOccurs="0"/>
			<element name="online" type="credit:onlineAddressType" minOccurs="0"/>
		</sequence>
	</complexType>

	<complexType name="personType">
		<sequence>
			<element name="familyname" type="credit:stringType1_35"/>
			<element name="givenname" type="credit:stringType1_35"/>
			<element name="subaddressing" type="credit:stringType1_35" minOccurs="0"/>
			<element name="postal" type="credit:postalAddressType"/>
			<element name="telecom" type="credit:telecomAddressType" minOccurs="0"/>
			<element name="online" type="credit:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="credit:stringType1_35"/>
		<attribute name="title" type="credit:stringType1_35"/>
	</complexType>
	
	<complexType name="employeeType">
		<sequence>
			<element name="familyname" type="credit:stringType1_35"/>
			<element name="givenname" type="credit:stringType1_35" minOccurs="0"/>
			<element name="telecom" type="credit:telecomAddressType" minOccurs="0"/>
			<element name="online" type="credit:onlineAddressType" minOccurs="0"/>
		</sequence>
		<attribute name="salutation" type="credit:stringType1_35"/>
		<attribute name="title" type="credit:stringType1_35"/>
	</complexType>
	
	<complexType name="postalAddressType">
		<sequence>
			<element name="pobox" type="credit:stringType1_35" minOccurs="0"/>
			<element name="street" type="credit:stringType1_35" minOccurs="0"/>
			<element name="zip" type="credit:zipType"/>
			<element name="city" type="credit:stringType1_35"/>
		</sequence>
	</complexType>

	<complexType name="zipType">
		<simpleContent>
			<extension base="credit:stringType1_9">
				<attribute name="statecode" type="credit:stringType1_9"/>
				<attribute name="countrycode" type="credit:stringType1_3" default="CH"/>
			</extension>
		</simpleContent>
	</complexType>

	<complexType name="telecomAddressType">
		<sequence>
			<element name="phone" type="credit:stringType1_25" maxOccurs="3"/>
			<element name="fax" type="credit:stringType1_25" minOccurs="0" maxOccurs="3"/>
		</sequence>
	</complexType>

	<complexType name="onlineAddressType">
		<sequence>
			<element name="email" maxOccurs="3">
				<simpleType>
					<restriction base="credit:stringType1_70">
						<pattern value=".+@.+"/>
					</restriction>
				</simpleType>
			</element>
			<element name="url" minOccurs="0" maxOccurs="3">
				<simpleType>
					<restriction base="anyURI">
						<minLength value="1"/>
						<maxLength value="100"/>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>
	
<!-- =======================================================================
	address definitions for specific roles possibly augmented with further data
 ======================================================================= -->
	<complexType name="baseAddressType">
		<choice>
			<element name="company" type="credit:companyType"/>
			<element name="person" type="credit:personType"/>
		</choice>
		<attribute name="ean_party" type="credit:eanPartyType" use="required"/>
		<attribute name="zsr" type="credit:zsrPartyType"/>
		<attribute name="specialty" type="credit:stringType1_350"/>
	</complexType>

	<complexType name="basicInsuranceAddressType">
		<sequence>
			<element name="company" type="credit:companyType"/>
		</sequence>
		<attribute name="ean_party" type="credit:eanPartyType"/>
		<attribute name="type" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="kvg"/>
					<enumeration value="ivg"/>
					<enumeration value="mvg"/>
					<enumeration value="uvg"/>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>


	<complexType name="patientAddressType">
		<sequence>
			<element name="person" type="credit:personType"/>
			<element name="card" minOccurs="0">
				<complexType>
					<attribute name="card_id" type="credit:stringType1_35" use="required"/>
					<attribute name="expiry_date" type="dateTime" use="required"/>
					<attribute name="validation_date" type="dateTime"/>
					<attribute name="validation_id" type="credit:stringType1_35"/>
					<attribute name="validation_server" type="credit:stringType1_35"/>
				</complexType>
			</element>
		</sequence>
		<attribute name="gender" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="male"/>
					<enumeration value="female"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="birthdate" type="dateTime" use="required"/>
		<attribute name="ssn" type="credit:ssnPartyType"/>
	</complexType>

	<complexType name="employerAddressType">
		<choice>
			<element name="company" type="credit:companyType"/>
			<element name="person" type="credit:personType"/>
		</choice>
		<attribute name="ean_party" type="credit:eanPartyType"/>
		<attribute name="reg_number" type="credit:stringType1_35"/>
	</complexType>

	<complexType name="contactAddressType">
		<choice>
			<element name="person" type="credit:personType"/>
			<sequence>
				<element name="company" type="credit:companyType"/>
				<element name="employee" type="credit:employeeType" minOccurs="0"/>
			</sequence>
		</choice>
		<attribute name="ean_party" type="credit:eanPartyType"/>
	</complexType>

<!-- =======================================================================
	definitions regarding the applied law
 ======================================================================= -->
	<complexType name="kvgLawType">
		<attribute name="insured_id" type="credit:stringType1_35"/>
		<attribute name="case_id" type="credit:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="credit:stringType1_35"/>
	</complexType>

	<complexType name="vvgLawType">
		<attribute name="insured_id" type="credit:stringType1_35"/>
		<attribute name="case_id" type="credit:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="credit:stringType1_35"/>
	</complexType>

	<complexType name="uvgLawType">
		<attribute name="insured_id" type="credit:stringType1_35"/>
		<attribute name="case_id" type="credit:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="credit:stringType1_35"/>
		<attribute name="ssn" type="credit:ssnPartyType"/>
	</complexType>

	<complexType name="ivgLawType">
		<attribute name="case_id" use="required">
			<simpleType>
				<restriction base="string">
					<pattern value="([0-9]{14}|[0-9]{10}|[0-9]{9}|[0-9]{6})"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="credit:stringType1_35"/>
		<attribute name="ssn" type="credit:ssnPartyType" use="required"/>
		<attribute name="nif" type="credit:nifPartyType"/>
	</complexType>

	<complexType name="mvgLawType">
		<attribute name="insured_id" type="credit:stringType1_35"/>
		<attribute name="case_id" type="credit:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="credit:stringType1_35"/>
		<attribute name="ssn" type="credit:ssnPartyType" use="required"/>
	</complexType>

	<complexType name="orgLawType">
		<attribute name="insured_id" type="credit:stringType1_35"/>
		<attribute name="case_id" type="credit:stringType1_35"/>
		<attribute name="case_date" type="dateTime"/>
		<attribute name="contract_number" type="credit:stringType1_35"/>
	</complexType>
	
<!-- =======================================================================
	diagnosis coding definitions
 ======================================================================= -->
	<complexType name="diagnosisType">
		<simpleContent>
			<extension base="credit:stringType0_350">
				<attribute name="type" default="by_contract">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="ICD"/>
							<enumeration value="cantonal"/>
							<enumeration value="DRG"/>
							<enumeration value="by_contract"/>
							<enumeration value="freetext"/>
							<enumeration value="birthdefect"/>
							<enumeration value="ICPC"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="code" type="credit:stringType1_12"/>
				<attribute name="side" default="none">
					<simpleType>
						<restriction base="NMTOKEN">
							<enumeration value="none"/>
							<enumeration value="left"/>
							<enumeration value="right"/>
							<enumeration value="both"/>
							<enumeration value="unknown"/>
						</restriction>
					</simpleType>
				</attribute>
				<attribute name="remark" type="credit:stringType1_350"/>
			</extension>
		</simpleContent>
	</complexType>

<!-- =======================================================================
	detailed treatment information definitions
 ======================================================================= -->
	<complexType name="treatmentType">
		<sequence>
			<element name="diagnosis" type="credit:diagnosisType" minOccurs="0" maxOccurs="unbounded"/>
			<element name="stationary" type="credit:stationaryType" minOccurs="0"/>
		</sequence>
		<attribute name="date_begin" type="dateTime" use="required"/>
		<attribute name="treatment_units" type="credit:stringType1_100"/>
		<attribute name="canton" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="AG"/>
					<enumeration value="AI"/>
					<enumeration value="AR"/>
					<enumeration value="BE"/>
					<enumeration value="BL"/>
					<enumeration value="BS"/>
					<enumeration value="FR"/>
					<enumeration value="GE"/>
					<enumeration value="GL"/>
					<enumeration value="GR"/>
					<enumeration value="JU"/>
					<enumeration value="LU"/>
					<enumeration value="NE"/>
					<enumeration value="NW"/>
					<enumeration value="OW"/>
					<enumeration value="SG"/>
					<enumeration value="SH"/>
					<enumeration value="SO"/>
					<enumeration value="SZ"/>
					<enumeration value="TI"/>
					<enumeration value="TG"/>
					<enumeration value="UR"/>
					<enumeration value="VD"/>
					<enumeration value="VS"/>
					<enumeration value="ZG"/>
					<enumeration value="ZH"/>
					<enumeration value="LI"/>
					<enumeration value="A"/>
					<enumeration value="D"/>
					<enumeration value="F"/>
					<enumeration value="I"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="reason" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="disease"/>
					<enumeration value="accident"/>
					<enumeration value="maternity"/>
					<enumeration value="prevention"/>
					<enumeration value="birthdefect"/>
					<enumeration value="unknown"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="patient_id" type="credit:stringType1_35"/>
		<attribute name="case_id" type="credit:stringType1_35"/>
	</complexType>

<!-- =======================================================================
	additional data definitions for stationary treatments
 ======================================================================= -->
	<complexType name="stationaryType">
		<sequence>
			<element name="outercantonal" type="credit:outerCantonalType" minOccurs="0"/>
		</sequence>
		<attribute name="hospitalization_type" default="regular">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="regular"/>
					<enumeration value="emergency"/>
					<enumeration value="welfare"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="hospitalization_mode" default="cantonal">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="cantonal"/>
					<enumeration value="noncantonal_indicated"/>
					<enumeration value="noncantonal_nonindicated"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="insurance_class" default="general">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="private"/>
					<enumeration value="semi_private"/>
					<enumeration value="general"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="insurance_model" default="standard">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="standard"/>
					<enumeration value="hospital_comfort"/>
					<enumeration value="md_free_choice"/>
					<enumeration value="other"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="section_major" type="credit:stringType1_6"/>
	</complexType>

	<complexType name="outerCantonalType">
		<attribute name="tax_city" type="credit:stringType1_35"/>
		<attribute name="tax_canton" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="AG"/>
					<enumeration value="AI"/>
					<enumeration value="AR"/>
					<enumeration value="BE"/>
					<enumeration value="BL"/>
					<enumeration value="BS"/>
					<enumeration value="FR"/>
					<enumeration value="GE"/>
					<enumeration value="GL"/>
					<enumeration value="GR"/>
					<enumeration value="JU"/>
					<enumeration value="LU"/>
					<enumeration value="NE"/>
					<enumeration value="NW"/>
					<enumeration value="OW"/>
					<enumeration value="SG"/>
					<enumeration value="SH"/>
					<enumeration value="SO"/>
					<enumeration value="SZ"/>
					<enumeration value="TI"/>
					<enumeration value="TG"/>
					<enumeration value="UR"/>
					<enumeration value="VD"/>
					<enumeration value="VS"/>
					<enumeration value="ZG"/>
					<enumeration value="ZH"/>
					<enumeration value="LI"/>
					<enumeration value="A"/>
					<enumeration value="D"/>
					<enumeration value="F"/>
					<enumeration value="I"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="emergency_city" type="credit:stringType1_35"/>
		<attribute name="emergency_date" type="dateTime"/>
		<attribute name="retransfer_date" type="dateTime"/>
		<attribute name="cantonal_surgeon_inquired" type="boolean" default="false"/>
	</complexType>

<!-- =======================================================================
	processing definitions (might be expanded by intermediates)
 ======================================================================= -->
	<complexType name="processingType">
		<sequence>
			<element name="transport" type="credit:transportType"/>
			<element name="validations" type="credit:validationsType" minOccurs="0"/>
		</sequence>
		<attribute name="print_at_intermediate" type="boolean" default="false"/>
	</complexType>

	<complexType name="transportType">
		<sequence>
			<element name="via" maxOccurs="unbounded">
				<complexType>
					<attribute name="via" type="credit:eanPartyType" use="required"/>
					<attribute name="sequence_id" type="unsignedShort" use="required"/>
				</complexType>
			</element>
		</sequence>
		<attribute name="from" type="credit:eanPartyType" use="required"/>
		<attribute name="to" type="credit:eanPartyType" use="required"/>
	</complexType>

	<complexType name="validationsType">
		<sequence>
			<element name="validation" type="credit:validationType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="validationType">
		<sequence>
			<element name="validation_result" type="credit:validationResultType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>

		<attribute name="originator" type="credit:stringType1_100" use="required"/>
		<attribute name="remark" type="credit:stringType1_350" use="required"/>
		<attribute name="status" type="unsignedShort" use="required"/>
	</complexType>

	<complexType name="validationResultType">
		<attribute name="remark" type="credit:stringType1_350"/>
		<attribute name="record_id">
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"/>
					<maxInclusive value="999999999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="cost_unit" type="credit:stringType1_35"/>
		<attribute name="status" type="unsignedShort" use="required"/>
	</complexType>

<!-- =======================================================================
	prolog definitions for defining the chain of involved/used software
 ======================================================================= -->
	<complexType name="prologType">
		<sequence>
			<element name="package" type="credit:softwareType" minOccurs="0"/>
			<element name="generator" type="credit:softwareType"/>
		</sequence>
	</complexType>

	<complexType name="softwareType">
		<sequence>
			<element name="depends_on" type="credit:dependsOnType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="name" type="credit:stringType1_50" use="required"/>
		<attribute name="copyright" type="credit:stringType1_50"/>
		<attribute name="description" type="credit:stringType1_50"/>
		<attribute name="version" type="unsignedInt"/>
		<attribute name="id" type="unsignedInt" default="0"/>
	</complexType>

	<complexType name="dependsOnType">
		<attribute name="name" type="credit:stringType1_50" use="required"/>
		<attribute name="copyright" type="credit:stringType1_50"/>
		<attribute name="description" type="credit:stringType1_50"/>
		<attribute name="version" type="unsignedInt"/>
		<attribute name="id" type="unsignedInt" default="0"/>
	</complexType>

<!-- =======================================================================
	reference object: definition for the reference triple of a credit
 ======================================================================= -->
	<complexType name="creditType">
		<attribute name="request_timestamp" type="unsignedLong" use="required"/>
		<attribute name="request_date" type="dateTime" use="required"/>
		<attribute name="request_id" type="credit:stringType1_35" use="required"/>
	</complexType>

<!-- =======================================================================
	service record definitions
 ======================================================================= -->
	<complexType name="servicesType">
		<sequence>
			<element name="service" type="credit:serviceType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="serviceType">
		<sequence>
			<element name="cost_request" type="credit:costType"/>
		</sequence>

		<attribute name="record_id" use="required">
			<simpleType>
				<restriction base="int">
					<minInclusive value="1"/>
					<maxInclusive value="999999999"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="tariff_type">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-9A-Z]{3}"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="code" type="credit:stringType1_30"/>
		<attribute name="name" type="credit:stringType1_350" use="required"/>
	</complexType>

	<complexType name="costType">
		<attribute name="currency" type="string" fixed="CHF"/>
		<attribute name="quantity" type="double" default="1.0"/>
		<attribute name="scale_factor" default="1.0">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="base_amount" use="required">
			<simpleType>
				<restriction base="double">
					<minInclusive value="0.0"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="amount" type="double" use="required"/>
		<attribute name="remark" type="credit:stringType1_350"/>
	</complexType>

<!-- =======================================================================
	document(s) data definitions
	this is either OFFLINE=REMOTE or INLINE=INCLUDED in the infoset
 ======================================================================= -->
	<complexType name="documentsType">
		<sequence>
			<element name="document" type="credit:documentType" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="number" type="unsignedLong" use="required"/>
	</complexType>

	<complexType name="documentType">
		<choice>
			<element name="base64" type="base64Binary"/>
			<element name="url" type="anyURI"/>
		</choice>
		<attribute name="filename" type="credit:nonEmptyStringType" use="required"/>
		<attribute name="mimeType" type="credit:nonEmptyStringType" use="required"/>
		<attribute name="viewer" type="anyURI"/>
	</complexType>

<!-- =======================================================================
	body definition with all sensitive data regarding data privacy
	This element and subelements therein can be encrypted 
 ======================================================================= -->
	<complexType name="bodyType">
		<sequence>
			<element name="prolog" type="credit:prologType"/>
			<choice>
				<element name="kvg" type="credit:kvgLawType"/>
				<element name="vvg" type="credit:vvgLawType"/>
				<element name="uvg" type="credit:uvgLawType"/>
				<element name="ivg" type="credit:ivgLawType"/>
				<element name="mvg" type="credit:mvgLawType"/>
				<element name="org" type="credit:orgLawType"/>
			</choice>

			<element name="requestor" type="credit:baseAddressType"/>
			<element name="contact" type="credit:contactAddressType"/>
			<element name="provider" type="credit:baseAddressType"/>
			<element name="patient" type="credit:patientAddressType"/>
			<element name="cost_bearer" type="credit:baseAddressType"/>

			<element name="basic_insurance" type="credit:basicInsuranceAddressType" minOccurs="0"/>

			<element name="employer" type="credit:employerAddressType" minOccurs="0"/>
			<element name="referrer" type="credit:baseAddressType" minOccurs="0"/>
			<element name="family_doctor" type="credit:baseAddressType" minOccurs="0"/>
			<element name="surgeon" type="credit:baseAddressType" minOccurs="0"/>

			<element name="treatment" type="credit:treatmentType"/>

			<element name="services" type="credit:servicesType" minOccurs="0"/>
			<element name="measures" type="credit:stringType1_700" minOccurs="0"/>
			<element name="remark" type="credit:stringType1_700" minOccurs="0"/>
			<element name="documents" type="credit:documentsType" minOccurs="0"/>
		</sequence>
		<attribute name="role" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="physician"/>
					<enumeration value="physiotherapist"/>
					<enumeration value="chiropractor"/>
					<enumeration value="ergotherapist"/>
					<enumeration value="nutritionist"/>
					<enumeration value="midwife"/>
					<enumeration value="logotherapist"/>
					<enumeration value="hospital"/>
					<enumeration value="pharmacist"/>
					<enumeration value="dentist"/>
					<enumeration value="labtechnician"/>
					<enumeration value="dentaltechnician"/>
					<enumeration value="othertechnician"/>
					<enumeration value="psychologist"/>
					<enumeration value="wholesaler"/>
					<enumeration value="nursingstaff"/>
					<enumeration value="transport"/>
					<enumeration value="druggist"/>
					<enumeration value="naturopathicdoctor"/>
					<enumeration value="naturopathictherapist"/>
					<enumeration value="other"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="place" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="practice"/>
					<enumeration value="hospital"/>
					<enumeration value="lab"/>
					<enumeration value="association"/>
					<enumeration value="company"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="role_title" type="credit:stringType1_35"/>
	</complexType>
	
<!-- =======================================================================
	payload definitions with the chain of object references (credit_ref, credit), 
	plus the sensitive data regarding data privacy
	This element and subelements therein can be signed
 ======================================================================= -->
	<complexType name="payloadType">
		<sequence>
			<element name="credit_ref" type="credit:creditType" minOccurs="0"/>
			<element name="credit" type="credit:creditType"/>
			<choice>
				<element name="body" type="credit:bodyType"/>
				<element ref="xenc:EncryptedData"/>
			</choice>
		</sequence>
		<attribute name="type" default="new">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="new"/>
					<enumeration value="re-consideration"/>
					<enumeration value="prolongation"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="storno" type="boolean" default="false"/>
		<attribute name="copy" type="boolean" default="false"/>
		<attribute name="cost_estimate" type="boolean" default="false"/>
	</complexType>

<!-- =======================================================================
     =======================================================================
	Here starts the request with its root element
 =======================================================================
 ======================================================================= -->
	<element name="request" type="credit:requestType"/>


	<complexType name="requestType">
		<sequence>
			<element name="processing" type="credit:processingType"/>
			<element name="payload" type="credit:payloadType"/>
			<element ref="ds:Signature" minOccurs="0"/>
		</sequence>
		<attribute name="language" use="required">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="de"/>
					<enumeration value="fr"/>
					<enumeration value="it"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="modus" default="production">
			<simpleType>
				<restriction base="NMTOKEN">
					<enumeration value="production"/>
					<enumeration value="test"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="validation_status" type="long"/>
	</complexType>
</schema>
